.container.calendar {
  padding-bottom: 32px;
  width: 60%;
}

body {
  font-family: 'Adamina';
}

h1 {
  grid-column: 1 / 3;
  width: 100%;
}

.container.heading {
  padding: 32px;
}

.weekSquare {
  background: rgb(150,150,150);
  width: 10px;
  height: 10px;
  margin: 1px;
}

.week-groups {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.passedWeek {
  background-color: black;
}

.container.inputs {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
}

.btn.btn-primary.calculate-button {
  background: none!important;
  font-weight: 600;
  border: 2px solid black;
  color: black;
}

.calculate-button:focus, .calculate-button:active {
  background: none!important;
  color: black!important;
  box-shadow: none!important;
  border: 2px solid black!important;
  opacity: 0.7;
}

.text-black {
  color: black;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: black;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

#weekGroups1::after {
  content: "10 years";
  position: absolute;
  top: calc(100% - 1.5rem);
  width: 100%;
  left: -100%;
  text-align: right;
}

#weekGroups2::after {
  content: "20 years";
  position: absolute;
  top: calc(100% - 1.5rem);
  left: 100%;
  width: 30%;
}

#weekGroups3::after {
  content: "30 years";
  position: absolute;
  top: calc(100% - 1.5rem);
  width: 100%;
  left: -100%;
  text-align: right;
}

#weekGroups4::after {
  content: "40 years";
  position: absolute;
  top: calc(100% - 1.5rem);
  left: 100%;
  width: 30%;
}

#weekGroups5::after {
  content: "50 years";
  position: absolute;
  top: calc(100% - 1.5rem);
  width: 100%;
  left: -100%;
  text-align: right;
}

#weekGroups6::after {
  content: "60 years";
  position: absolute;
  top: calc(100% - 1.5rem);
  left: 100%;
  width: 30%;
}

#weekGroups7::after {
  content: "70 years";
  position: absolute;
  top: calc(100% - 1.5rem);
  width: 100%;
  left: -100%;
  text-align: right;
}

#weekGroups8::after {
  content: "80 years";
  position: absolute;
  top: calc(100% - 1.5rem);
  left: 100%;
  width: 30%;
}

#birthDate {
  border: 2px solid black;
  border-radius: 3px;
  font-weight: 600;
  text-align: center;
}

